<div class="well">
  Polity is a basic question-and-answer forum. Users can ask and answer questions, as well as vote on answers. Questions can be sorted by time created or number of answers, while answers can be sorted by time created and popularity. Users can also choose to view only questions they themselves asked.
</div>