.container {
  width: 100%;
  background-color: #FFFFFF;
}

.masthead-brand {
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding-top: 4px;
  color: #000000;
}

.masthead-nav {
  text-align: right;
}

.masthead-nav > li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 2px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-color: #000000
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000000;
}